<form class="form-group m-2" action="answer" data-turbo="false">
  <label for="inputQuestion">Ask your coach anything:</label>
  <input class="form-control m-2" type="text" name="question">
  <input class="btn btn-primary m-2" type="submit" value="Ask!">
</form>
